
.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 120px;
    padding-bottom: 40px;
    width: 500px;
    background: transparent;
    border: 2px solid rgba(255,255, 255,.2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 100px;
}

.text {
   color: #fff;
   font-size: 38px;
   font-weight: 700; 
}

.underline {
    width: 61px;
    height: 6px;
    background: white;
    border-radius: 9px;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}

.input {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    height: 50px;
    background: transparent;
    border: 2px solid rgba(255,255, 255,.2);
    border-radius: 30px;
    padding: 20px;
    color: 	#D3D3D3;
}


.input input {
    width: 480px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 19px;
}

.submit-button {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 380px;
    height: 50px;
    background: transparent;
    border: 2px solid rgba(255,255, 255,.2);
    border-radius: 30px;
    padding: 20px;
    margin-top: 30px;
    color: 	#D3D3D3;
    transition: background-color 1s ease-out 10ms;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #fff;
    color: 	#686666;
}



.forgot-password {
    float: right;
    margin-right: 62px;
    margin-top: 1px;
    color: #fff;
    font-size: 13px;
}

.forgot-password span {
    color: #3f99df;
    cursor: pointer;
}



.gray {
    color: #fff;
    background: transparent;
    border: 2px solid rgba(255,255, 255,.2);
}

.gray:hover {
    background-color: #fff;
    color: #232f42;
    transition: all 0.3s ease-out;
}

@media only screen and (max-width:1560px){

    .container {
        margin-top: 120px;
    }
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 9px;
        width: 100%;
        margin-top: 50px;
    }
}

@media only screen and (max-width:760px){

    .container {
        width: 460px;
    }
}