.search-margin {
    margin-top: 40px;
    margin-bottom: 40px;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    margin: auto;
    width: 600px;
    background: transparent;
    border: 1.5px solid #193B67;
    padding-left: 20px;
    color: 	#193B67;;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding: 17px 20px;
    padding-right: 20px;
    margin: 0%;
    color: #fff;
    background-color: #193B67;
    border-left: 1.5px solid #193B67;
    cursor: pointer;
}



.search-container input {
    width: 600px;
    height: 50px;
    background: transparent;
    color: black;
    outline: none;
    border: none;
    font-size: 17px;
}


@media only screen and (max-width:760px){

    .search-container {
        width: 400px;
    }
}

.business-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set a height to center vertically */
  }
  
  .business-details {
    font-family: Arial, sans-serif;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .business-details h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .business-details p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .highlight {
    color: #007bff;
    font-weight: bold;
  }
  